	/*公共字体的样式 */
	@font-face {
	  font-family: 'HarmonyOS_Sans_SC_Regular';
	  src:url('./common/HarmonyOS_Sans_SC_Regular.ttf')
	}

    	@font-face {
	  font-family: 'HarmonyOS_Sans_SC_Black';
	  src:
        url('./common/HarmonyOS_Sans_SC_Black.ttf')
	}

    	@font-face {
	  font-family: 'HarmonyOS_Sans_SC_Bold';
	  src:
        url('./common/HarmonyOS_Sans_SC_Bold.ttf')
	}

    	@font-face {
	  font-family: 'HarmonyOS_Sans_SC_Light';
	  src:
        url('./common/HarmonyOS_Sans_SC_Light.ttf')
	}

    	@font-face {
	  font-family: 'HarmonyOS_Sans_SC_Medium';
	  src:
		url('./common/HarmonyOS_Sans_SC_Medium.ttf')
	}

    	@font-face {
	  font-family: 'HarmonyOS_Sans_SC_Thin';
	  src:
	    url('./common/HarmonyOS_Sans_SC_Thin.ttf')
	}
